version: 1.0.{build}
image: Visual Studio 2017
before_build:
- cmd: >-
    dotnet restore

    nuget restore
build:
  publish_nuget: true
  publish_nuget_symbols: true
  include_nuget_references: true
  verbosity: minimal
before_package:
- cmd: nuget spec
test: off